# Ignore root stuff:
.vscode
.DS_Store
_config.yml

# Ex1:
Ex1/.gitignore
Ex1/Debug
Ex1/Makefile
Ex1/.DS_Store
Ex1/.vscode


# Ex2:
Ex2/Debug
Ex2/Release
Ex2/.DS_Store

# Ex3:
Ex3/Debug
Ex3/Release
Ex3/Makefile

# Ex4
Ex4/Makefile
Ex4/Debug
Ex4/Release
Ex4/.vscode
